html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #FFF2D8;
}

main {
    color: #113946
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pacifico {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

td {
    text-align: center;
}

/* Layout Styling */
.navbar {
    background-color: #113946;
}

.footer {
    text-align: center;
    background-color: #113946;
    color: #FFF2D8;
    padding: 1.5em;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#brand {
    color: #FFF2D8;
    font-size: 2em;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-collapse {
    font-size: 1.5em;
    display: flex;
    justify-content: end;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.navbar-toggler-icon {
    color: #EFECEC;
    font-size: 1.5em;
    border: none;
}

.nav-link {
    color: #FFF2D8;
}

    .nav-link:hover {
        color: white;
        transform: scale(1.2);
    }

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}




/* Index View Styling */
#main-menu-div {
    display: flex;
    flex-direction: column;
}

.main-menu-links {
    text-decoration: none;
    color: #113946;
    font-size: 1.5em;
    margin: .5em;
}

    .main-menu-links:hover {
        color: #113946;
        transform: scale(1.2);
    }

.main-menu-p {
    border: 2px solid #113946;
    border-radius: 5px;
    margin-top: 1.75em;
    margin-bottom: 1.5em;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    background-color: white;
}

#main-menu-image-div {
    padding: 1em;
    width: 100%;
    max-width: 500px;
}

#main-menu-p-div {
    padding: 2em;
}

img {
    width: 75%;
    margin: auto;
}

#main-menu-div {
    display: flex;
    justify-content: center;
}


.links {
    color: #113946;
    font-size: 1.25em;
    text-decoration: none;
}


/*Create Page Styling*/

#create-btn {
    background-color: #113946;
    margin: 1em, 0;
    border: none;
}

.btn-now {
    margin-left: 1em;
}

@media screen and (min-width: 600px) {
    #main-menu-div {
        display: flex;
        flex-direction: row;
    }

    #main-menu-image-div {
        padding: 1em;
        width: 50%;
    }

    img {
        width: 100%;
    }
}
