@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 pacifico">Welcome to Mega Desk</h1>
    <div id="main-menu-div">
        <div id="main-menu-p-div">
            <p class="main-menu-p"><em><a class="main-menu-links" asp-page="/DeskQuotes/Index">Add New Quote</a></em></p>
            <p class="main-menu-p"><em><a class="main-menu-links" asp-page="/Index">View Quotes</a></em></p>
            <p class="main-menu-p"><em><a class="main-menu-links" asp-page="/Index">Search Quotes</a></em></p>
        </div>
        <div id="main-menu-image-div">
            <img src="~/images/desk1.png" alt="An image of a desk.">
        </div>
    </div>
</div>